<a href="https://colab.research.google.com/github/Lfahima/datasci_2_manipulation/blob/main/HHA507Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import polars as pl

In [3]:
import numpy as np

In [4]:
!pip install -U ipykernel
!pip install modin[dask]
# Getting modin to work on colab

Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (6.25.2)
Requirement already satisfied: comm>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (1.6.6)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (6.1.12)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (5.3.1)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (0.1.6)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel) (1.5.7)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from ipykernel) (23.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel) (5.9.5)
Requirement already satisfied: pyzmq>=20 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (23.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (6.3.2)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel) (5.7.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (0.19.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel) (4.8.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->ipykernel) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (3.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel) (0.2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.1->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: modin[dask] in /usr/local/lib/python3.10/dist-packages (0.23.1)
Requirement already satisfied: pandas<2.1,>=2 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (2.0.3)
Requirement already satisfied: packaging>=21.0 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (23.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (1.23.5)
Requirement already satisfied: fsspec>=2021.07.0 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (2023.6.0)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (5.9.5)
Requirement already satisfied: dask>=2.22.0 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (2023.8.1)
Requirement already satisfied: distributed>=2.22.0 in /usr/local/lib/python3.10/dist-packages (from modin[dask]) (2023.8.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (2.2.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.22.0->modin[dask]) (6.8.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (1.0.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (2.0.0)
Requirement already satisfied: tornado>=6.0.4 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (2.0.4)
Requirement already satisfied: zict>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.22.0->modin[dask]) (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1,>=2->modin[dask]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1,>=2->modin[dask]) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1,>=2->modin[dask]) (2023.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask>=2.22.0->modin[dask]) (3.16.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.10.3->distributed>=2.22.0->modin[dask]) (2.1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<2.1,>=2->modin[dask]) (1.16.0)

In [5]:
import modin.pandas as mpd

In [6]:
import time

## Loading Data Set

I loaded the data set provided by professor Hants into a variable called HCD_df

In [7]:
HCD_df = pd.read_csv('healthcare_data_cleaning.csv')
HCD_df

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

## Idenfying missing values in the dataset

Checking how many values are missing in the dataset

In [8]:
HCD_df.isnull().values.sum()

19993

Replacing all missing values with 0

In [9]:
HCD_df = HCD_df.fillna(0)

Confirming there are no missing values

In [10]:
HCD_df.isnull().values.sum()

0

Here I replaced all missing values with 0

In [11]:
HCD_df = HCD_df.replace('missing', 0)

## Removing any duplicate rows and columns

Checking to see if any columns were duplicated, and I found that no columns were duplicated.

In [12]:
HCD_df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

I am checking if any rows were duplicated, and found that 2612 rows were duplicated

In [13]:
HCD_df.duplicated().values.sum()

5000

Here I am dropping all rows that were duplicates

In [14]:
HCD_df.drop_duplicates(inplace=True)

I am checking to make sure no duplicates are left

In [15]:
HCD_df.duplicated().values.sum()

0

## Cleaning column names

I listed the names of each column in the dataset

In [16]:
HCD_df.columns

Index(['Patient Age', 'Gender', 'City of Residence', 'State of Residence',
       'Has Insurance', 'Visited Last Month', 'Payment Method',
       'Preferred Doctor', 'Disease Diagnosed', 'Medication Prescribed',
       'Type of Appointment', 'Average Heart Rate', 'Average BP',
       'Height (in cm)', 'Weight (in kg)', 'Payment Due ($)',
       'Last Visit (days ago)', 'Visit Duration (mins)', 'Number of Tests',
       'Prescription Cost ($)'],
      dtype='object')

Here I renamed the columns.
I read that column names should be all lower case and spaces should be defined by underscores, so that is what I did

In [17]:
HCD_df = HCD_df.rename(columns = {'Patient Age':'patient_age',
                     'Gender':'gender',
                     'City of Residence':'city_of_residence',
                     'State of Residence':'state_of_residence',
                     'Has Insurance':'has_insurance',
                     'Visited Last Month':'visited_last_month',
                     'Payment Method':'payment_method',
                     'Preferred Doctor':'preferred_doctor',
                     'Disease Diagnosed':'disease_diagnosed',
                     'Medication Prescribed':'medication_prescribed',
                     'Type of Appointment':'type_of_appointment',
                     'Average Heart Rate':'average_heart_rate',
                     'Average BP':'average_bp',
                     'Height (in cm)':'height_cm',
                     'Weight (in kg)':'weight_kg',
                     'Payment Due ($)':'payment_due',
                     'Last Visit (days ago)':'last_visit_days',
                     'Visit Duration (mins)':'visit_duration_(mins)',
                     'Number of Tests':'number_of_tests',
                     'Prescription Cost ($)':'prescription_cost_($)'})

I am making sure all my column names are renamed

In [18]:
HCD_df.columns

Index(['patient_age', 'gender', 'city_of_residence', 'state_of_residence',
       'has_insurance', 'visited_last_month', 'payment_method',
       'preferred_doctor', 'disease_diagnosed', 'medication_prescribed',
       'type_of_appointment', 'average_heart_rate', 'average_bp', 'height_cm',
       'weight_kg', 'payment_due', 'last_visit_days', 'visit_duration_(mins)',
       'number_of_tests', 'prescription_cost_($)'],
      dtype='object')

## Creating a new column based on existing ones

Checking to see the type of the column average heart rate

In [19]:
HCD_df["average_heart_rate"].dtype

dtype('O')

First I am converting the average heart rate column from object (string) to integer type

In [20]:
HCD_df["average_heart_rate"] = HCD_df["average_heart_rate"].astype('int')

I created a column called healthy_heart_rate that uses the average heart rate to identify if it is a healthy heart rate or not. A healthy heart rate is between 60-100.

If a heart rate is between 60 and 100 it is considered healthy and identified as true in the dataset, if the herat rate is less than 60 or greater than 100 it is considered abnormal and identified as False in the dataset.

In [21]:
HCD_df['healthy_heart_rate'] = np.where(np.logical_and(HCD_df['average_heart_rate']>60, HCD_df['average_heart_rate']<100), True, False)

This is me printing out the new column: healthy_heart_rate

In [22]:
HCD_df['healthy_heart_rate']

0          True
1         False
2          True
3          True
4          True
          ...
104994     True
104995     True
104996    False
104997     True
104998     True
Name: healthy_heart_rate, Length: 100000, dtype: bool

In [23]:
HCD_df

,patient_age,gender,city_of_residence,state_of_residence,has_insurance,visited_last_month,payment_method,preferred_doctor,disease_diagnosed,medication_prescribed,...,average_heart_rate,average_bp,height_cm,weight_kg,payment_due,last_visit_days,visit_duration_(mins),number_of_tests,prescription_cost_($),healthy_heart_rate
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,...,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889,True
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,...,59,0,174,58,430.68365678679174,195,0,4,80.78647284463952,False
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,...,79,119,161,56,315.0709305262176,0,37,2,64.3921393009105,True
3,18,Female,Taylorfort,Pennsylvania,Yes,0,Cash,Dr. Williams,Flu,Med_A,...,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316,True
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,0,Med_C,...,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104994,53,Female,Michelleburgh,South Dakota,No,No,Card,Dr. Williams,Flu,Med_B,...,68,109,172,75,488.0316041186948,167,25,5,69.54228578689846,True
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,...,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894,True
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,...,0,111,165,67,0,191,47,2,113.86764025370326,False
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,...,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356,True
104998,0,Female,Heidiborough,0,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,...,74,123,167,75,5.341231420036174,180,79,0,124.4083409893742,True

## Aggregating data using groupby and compute summary statistics

Here I am grouping by'healthy_heart_rate" column and the results are below.

In [24]:
HCD_df.groupby(['healthy_heart_rate']).describe()

                   average_heart_rate                                          \
                                count       mean        std   min   25%   50%
healthy_heart_rate
False                          9930.0  38.447231  42.079148   0.0   0.0   0.0
True                          90070.0  79.638359   8.692928  61.0  73.0  80.0


                     75%    max
healthy_heart_rate
False               60.0  120.0
True                86.0   99.0

Here I am also grouping by "gender" column, and the results are below

In [25]:
HCD_df.groupby(['gender']).describe()

       average_heart_rate
                    count       mean        std  min   25%   50%   75%    max
gender
0                  5000.0  75.630200  19.866272  0.0  72.0  79.0  86.0  115.0
Female            31674.0  75.440077  19.970485  0.0  71.0  79.0  86.0  116.0
Male              31728.0  75.450674  19.934438  0.0  71.0  79.0  86.0  120.0
Other             31598.0  75.741155  19.768542  0.0  72.0  79.0  86.0  119.0

Here I converted the weight column into an integer to be able to create a pivot table later on.

In [26]:
HCD_df["weight_kg"] = HCD_df["weight_kg"].astype('int')

Here I converted the height column into an integer to be able to create a pivot table later on.

In [27]:
HCD_df["height_cm"] = HCD_df["height_cm"].astype('int')

Here is my pivot table with index being the gender and the columns used were average heart rate, weight, and height

In [28]:
HCD_df.pivot_table(index=['gender'], values=['average_heart_rate', 'weight_kg', 'height_cm'])

        average_heart_rate   height_cm  weight_kg
gender
0                75.630200  166.350800  65.720600
Female           75.440077  165.602797  66.038139
Male             75.450674  165.755453  66.418904
Other            75.741155  166.022122  66.194190

## Polars

Here I am starting the time for polars

In [29]:
start_time = time.time()

Here I am loading the dataset using polars

In [30]:
pl.read_csv('healthcare_data_cleaning.csv')

shape: (105_000, 20)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Patient   â”† Gender â”† City of    â”† State of   â”† â€¦ â”† Last Visit â”† Visit      â”† Number of  â”† Prescripti â”‚
â”‚ Age       â”† ---    â”† Residence  â”† Residence  â”†   â”† (days ago) â”† Duration   â”† Tests      â”† on Cost    â”‚
â”‚ ---       â”† str    â”† ---        â”† ---        â”†   â”† ---        â”† (mins)     â”† ---        â”† ($)        â”‚
â”‚ str       â”†        â”† str        â”† str        â”†   â”† str        â”† ---        â”† str        â”† ---        â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”† str        â”†            â”† str        â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 45        â”† Other  â”† West Brian â”† Kentucky   â”† â€¦ â”† 193        â”† 92         â”† 5          â”† 15.7175173 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 5532889    â”‚
â”‚ 25        â”† Female â”† East Jocel â”† Colorado   â”† â€¦ â”† 195        â”† missing    â”† 4          â”† 80.7864728 â”‚
â”‚           â”†        â”† ynfurt     â”†            â”†   â”†            â”†            â”†            â”† 4463952    â”‚
â”‚ 51        â”† Other  â”† South Lind â”† Ohio       â”† â€¦ â”† missing    â”† 37         â”† 2          â”† 64.3921393 â”‚
â”‚           â”†        â”† seyland    â”†            â”†   â”†            â”†            â”†            â”† 009105     â”‚
â”‚ 18        â”† Female â”† Taylorfort â”† Pennsylvan â”† â€¦ â”† 175        â”† 108        â”† 2          â”† 8.87285921 â”‚
â”‚           â”†        â”†            â”† ia         â”†   â”†            â”†            â”†            â”† 5315316    â”‚
â”‚ â€¦         â”† â€¦      â”† â€¦          â”† â€¦          â”† â€¦ â”† â€¦          â”† â€¦          â”† â€¦          â”† â€¦          â”‚
â”‚ 37        â”† Male   â”† Mckeetown  â”† Utah       â”† â€¦ â”† 191        â”† 47         â”† 2          â”† 113.867640 â”‚
â”‚           â”†        â”†            â”†            â”†   â”†            â”†            â”†            â”† 25370326   â”‚
â”‚ 51        â”† Female â”† Lake Lisac â”† Nebraska   â”† â€¦ â”† 172        â”† 39         â”† 3          â”† 35.6224202 â”‚
â”‚           â”†        â”† hester     â”†            â”†   â”†            â”†            â”†            â”† 32475356   â”‚
â”‚ missing   â”† Female â”† Heidiborou â”† missing    â”† â€¦ â”† 180        â”† 79         â”† missing    â”† 124.408340 â”‚
â”‚           â”†        â”† gh         â”†            â”†   â”†            â”†            â”†            â”† 9893742    â”‚
â”‚ 45        â”† Female â”† South      â”† Massachuse â”† â€¦ â”† 167        â”† 81         â”† missing    â”† 87.9106014 â”‚
â”‚           â”†        â”† Jeffrey    â”† tts        â”†   â”†            â”†            â”†            â”† 9353706    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

This is subtracting the current time with the start time to get the time for polars to load the dataset.

In [31]:
polars_time = time.time() - start_time

Here I am starting the time for Modin

In [32]:
start_time = time.time()

Here I am loading the dataset using Modin

In [33]:
mpd.read_csv("healthcare_data_cleaning.csv")

UserWarning: Dask execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    from distributed import Client

    client = Client()

INFO:distributed.http.proxy:To route to workers diagnostics web server please install jupyter-server-proxy: python -m pip install jupyter-server-proxy
INFO:distributed.scheduler:State start
INFO:distributed.scheduler:  Scheduler at:     tcp://127.0.0.1:43983
INFO:distributed.scheduler:  dashboard at:  http://127.0.0.1:8787/status
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:35147'
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:44785'
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:40961', name: 0, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:40961
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:48414
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:33909', name: 1, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:33909
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:48400
INFO:distributed.scheduler:Receive client connection: Client-5b2f3811-5000-11ee-8549-0242ac1c000c
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:48424

,Patient Age,Gender,City of Residence,State of Residence,Has Insurance,Visited Last Month,Payment Method,Preferred Doctor,Disease Diagnosed,Medication Prescribed,Type of Appointment,Average Heart Rate,Average BP,Height (in cm),Weight (in kg),Payment Due ($),Last Visit (days ago),Visit Duration (mins),Number of Tests,Prescription Cost ($)
0,45,Other,West Brian,Kentucky,Yes,Yes,Insurance,Dr. Williams,Flu,Med_E,General,66,111,183,70,65.45721578126224,193,92,5,15.71751735532889
1,25,Female,East Jocelynfurt,Colorado,No,Yes,Card,Dr. Johnson,Flu,Med_B,Specialist,59,missing,174,58,430.68365678679174,195,missing,4,80.78647284463952
2,51,Other,South Lindseyland,Ohio,Yes,No,Cash,Dr. Williams,Covid-19,Med_D,General,79,119,161,56,315.0709305262176,missing,37,2,64.3921393009105
3,18,Female,Taylorfort,Pennsylvania,Yes,missing,Cash,Dr. Williams,Flu,Med_A,General,99,115,171,52,320.2998987723972,175,108,2,8.872859215315316
4,48,Female,Birdmouth,Montana,No,No,Insurance,Dr. Brown,NaN,Med_C,Specialist,93,89,186,87,264.2147372473319,188,113,3,77.48311304645532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104995,74,Other,West Anthony,Oklahoma,Yes,No,Card,Dr. Williams,Covid-19,Med_E,Specialist,65,112,169,61,309.16444606680665,183,10,3,63.20478776719894
104996,37,Male,Mckeetown,Utah,Yes,No,Cash,Dr. Jones,Covid-19,Med_C,General,missing,111,165,67,missing,191,47,2,113.86764025370326
104997,51,Female,Lake Lisachester,Nebraska,Yes,Yes,Insurance,Dr. Williams,Allergy,Med_D,Follow-Up,89,118,179,71,320.8304180033907,172,39,3,35.622420232475356
104998,missing,Female,Heidiborough,missing,Yes,No,Cash,Dr. Smith,Covid-19,Med_A,Follow-Up,74,123,167,75,5.341231420036174,180,79,missing,124.4083409893742
104999,45,Female,South Jeffrey,Massachusetts,No,Yes,Cash,Dr. Brown,Allergy,Med_D,General,77,140,167,62,454.94983945860804,167,81,missing,87.91060149353706

This is subtracting the current time with the start time to get the time for modin to load the dataset.

In [34]:
modin_time = time.time() - start_time

In [35]:
print("Modin time : ", modin_time)

Modin time :  9.437889337539673

In [36]:
print("Polars time : ", polars_time)

Polars time :  0.3036491870880127

I observed that polars is faster then modin when it comes to loading datasets.